<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{:C('WEB_NAME')}-{$page_name}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/active.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
</head>
<body>
<!-- Head -->
<include file="Public:head" />
<!-- Head -->
<div class="container clearfix">
    <!-- sidebar -->
    <include file="Public:sidebar" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
	            <i class="icon-font"></i>
	            <a href="{:C('ADMIN_URL')}">首页</a>
	            <span class="crumb-step">&gt;</span>
	            <a class="crumb-name" href="{:U('Article/index')}">{$page_name}</a>
	            <span class="crumb-step">&gt;</span>
	            <span>修改文章</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Article/modify')}" method="post" id="myform" name="myform"  enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>文章标题：</th>
                                <td>
                                    <input class="common-text required" name="title" id="title" size="50" value="{$vo['title']}" type="text">
                                </td>
                            </tr>
                            <if condition="$vo['pid'] neq 0">
                            <tr>
                                <th><i class="require-red">*</i>文章标题内容：</th>
                                <td>
                                    <script id="editor" type="text/plain" style="width:1024px;height:500px;">{$vo['content']|htmlspecialchars_decode}</script>
                                </td>
                            </tr> 
                            </if>
                             <tr>
                                <th><i class="require-red">*</i>是否显示：</th>
                                <td>
                                    <input name="isshow" value="1" type="radio" <if condition="$vo['isshow'] eq 1">checked</if>>显示
                                    <input name="isshow" value="0" type="radio" <if condition="$vo['isshow'] eq 0">checked</if>>不显示
                                </td>
                            </tr>                            
                            <tr>
                                <th></th>
                                <td>
                                	<input type="hidden" name="id" value="{$vo['id']}">
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>
</body>
</html>