<meta charset="utf-8" />
<link rel="shortcut  icon" type="image/x-icon" href="/Public/Home/images/logo2.png" media="screen"  />
    <title>未来门台管理系统</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet" />
    
    <link href="__PUBLIC__/Admin/css/adminia.css" rel="stylesheet" /> 
    <link href="__PUBLIC__/Admin/css/adminia-responsive.css" rel="stylesheet" /> 
    
    <link href="__PUBLIC__/Admin/css/pages/dashboard.css" rel="stylesheet" /> 
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/html5.js"></script>
    <![endif]-->
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <script src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
  <script src="__PUBLIC__/Admin/js/bootstrap.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>

  <script src="__PUBLIC__/Admin/js/hrfd.js"></script>