<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{:C('WEB_NAME')}-{$page_name}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/member.js"></script>
</head>
<body>
<!-- Head -->
<include file="Public:head" />
<!-- Head -->
<div class="container clearfix">
    <!-- sidebar -->
    <include file="Public:sidebar" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
	            <i class="icon-font"></i>
	            <a href="{:C('ADMIN_URL')}">首页</a>
	            <span class="crumb-step">&gt;</span>
	            <a class="crumb-name" href="{:U('Member/index')}">{$page_name}</a>
	            <span class="crumb-step">&gt;</span>
	            <span>新增会员</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Member/insert')}" method="post" id="myform" name="myform" onsubmit="return add_check()">
                    <table class="insert-tab" width="100%">
                        <tbody>
	                        <tr>
	                            <th width="120"><i class="require-red">*</i>会员名称：</th>
	                            <td>
	                                <input class="common-text" name="username" id="username" size="50" value="" type="text">
	                                *不可重复
	                            </td>
	                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>常用邮箱：</th>
                                <td>
                                    <input class="common-text required" name="email" id="email" size="50" value="" type="text">
                                   	*格式：123456@qq.com
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>登录密码：</th>
                                <td>
                                    <input class="common-text required" name="pwd" id="pwd" size="50" value="" type="password">
                                    *6-15为字母或数字组成
                                </td>
                            </tr>                         
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>