@charset "utf-8";
/* CSS Document */
*{
	font:12px '微软雅黑',Verdana, Geneva, sans-serif;
	margin:0;
	padding:0;
	}
body{
}
ul li{
	list-style:none;
	margin:0;
	padding:0;
	}
a{
	text-decoration:none;
}
img{
	border:0;
}
.whole{
	overflow:hidden;
	position:relative;
	}
.topbar{
	width:100%;
	background-color:#314751;
	z-index:999;
	position:absolute;
	top:0;
	left:0;
	}

.header{
	width:90%;
	margin:0 auto;
	position:relative;
	}
.header a{
	width:32px;
	height:50px;
	background:url(../images/wangshang.gif) no-repeat;
	display:block;
	margin:-50px auto 10px auto;
	}
.topmark{
	background: url(img/search_bg.png);
	width: 100%;
	position: absolute;
	top: 103px;
	left: 0;
	text-align: center;
	display: none;
}
.topjt{
	width:100%;
	text-align:center;
	z-index:999;
	position:absolute;
	top:0;
	left:0;
	display:none;
	}
.topjt img{
	cursor:pointer;
	}
.bigImg{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	}
.bigImg ul li img{
	width:100%;
	height:100%;
	}
.hide{
	display:none;
	}

.footer{
	z-index:99;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	}
.footer p{
	color:#fff;
	position:relative;
	}
	
/*nav首页导航CSS*/
.index_nav{
	height:40px;
	width:100%;
	background-color:#314751;
	z-index:999;
	position:absolute;
	bottom:100px;
	left:0;
	}
.index_nav ul{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	}
.index_nav ul li{
	float:left;
	position:relative;
	width: 120px;
	}
.index_nav ul li a{
	color:#ffffff;
	line-height:40px;
	display:block;
	font-size:14px;
	font-weight:bolder;
	padding:0 25px;
	text-align: center;
	}
.navbg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	}
.navbg ul{
	width:960px;
	margin:0 auto;
	}
.navbg ul li{
	background-color:#F8F0E1;
	text-align:center;
	overflow:hidden;
	float:left;
	filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
	-moz-opacity:0; /*Firefox私有，透明度50%*/
	opacity:0;/*其他，透明度50%*/
	margin-top: 103px;
	}
.navson{
	margin:20px 0 60px 0;
	}
.navson p{
	margin:5px 0;
	}
.navbg ul li a{
	color:#000;
	display:block;
	}
.navbg ul li a:hover{
	color:#fff;
	background-color:#314751;
	}
.navinfo{
	text-align:center;
	height:100px;
	margin-top: 40px;
	}
/*nav end*/