<!DOCTYPE html>
<html lang="en">
  <head>
   	<include file="Application/Admin/View/Public/link.html" />
   	<link href="__PUBLIC__/Admin/css/pages/plans.css" rel="stylesheet" /> 
   	
  </head>

<body>

<include file="Application/Admin/View/Public/header.html" />	

<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<include file="Application/Admin/View/Public/menu.html" />
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-home"></i>
					动态			
				</h1>
				<div class="widget widget-table">
										
					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>新增动态</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
						<div class="tabbable" style="margin-top:30px">
							<div class="tab-content">
								<div class="tab-pane active">
									<form action="{:U('News/insert')}" method="post" enctype="multipart/form-data" id="edit-profile" class="form-horizontal">
										<fieldset>
											<div class="control-group">
												<label class="control-label" for="title">标题</label>
												<div class="controls">
													<input id="title" style="width:300px" class="input-medium" type="text" value="" name="title">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="title">时间</label>
												<div id="title" class="controls">
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_year">
													<span>年</span>
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_month">
													<span>月</span>
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_day">
													<span>日</span>
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_hour">
													<span>时</span>
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_minute">
													<span>分</span>
													<input  style="width:30px" class="input-medium" type="text" value="" name="time_second">
													<span>秒</span>
												</div>
											</div>
											<div class="control-group" style="padding-left:50px;padding-right:50px">
												内容
												<script id="container" name="content" type="text/plain"></script>
    											<!-- 配置文件 -->
    											<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    											<!-- 编辑器源码文件 -->
    											<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    											<!-- 实例化编辑器 -->
    											<script type="text/javascript">
       	 											var ue = UE.getEditor('container');
    											</script>
											</div>
											<div class="form-actions">
												<button class="btn btn-primary" type="submit">提交</button>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				
				<div style="display:none">
					<form id="flash_img" action="{:U('Pic/uploadImg')}"  method="post"  target="hidden_frame" enctype="multipart/form-data">
						<input type="file" id="flash_pic" name="pic" onchange="$('#flash_sub').click()"/>
						<input type="submit" value="提交" id="flash_sub">
					</form>
					<iframe style="display:" name='hidden_frame' id="hidden_frame"></iframe>
				</div>
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
					
	
<div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2012 Go Ideate.</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/Admin/js/excanvas.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.pie.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.orderBars.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.resize.js"></script>


<script src="__PUBLIC__/Admin/js/bootstrap.js"></script>
<script src="__PUBLIC__/Admin/js/charts/bar.js"></script>

  </body>
</html>
