<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut  icon" type="image/x-icon" href="/Public/Home/images/logo3.ico" media="screen"  />
    <title>未来门资本</title>
    <meta name="keywords" content="未来门,未来门投资,投资管理,资本运作,金融大数据分析">
    <meta name="description" content="未未来门资本2013年在北京成立，是致力于中国三四线城市、专注优质中小微企业孵化的投行机构。2014年6月，先后在河北省秦皇岛市、内蒙古自治区通辽市设立了分公司。新常态下的中国经济正从量的增长转向质的增长，中小微企业在转型升级的进程中，面临资金“融不到、用不起”的困境。未来门资本秉承创新、协调、绿色、开放、共享的发展理念，将一线城市成熟的资本管理经验与三四线城市中小微企业的资金需求无缝对接，为民间资本进入实体经济特别是中小微企业，探索出一条可靠、高效、便捷的新路径。">
    <link href="__PUBLIC__/Home/css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Home/css/slides.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  <div class="top">
    <div class="j-row w1080">
      <div class="nav1">欢迎来到未来门资本官网</div>
    </div>
  </div>
  <div class="header" > 
    <div class="logo_menu">
      <div class="logo"><a href="{:U('Index/index')}">
        <img src="__PUBLIC__/Home/images/logo2.png" height="91" width="210"></a>
      </div>
      <div class="nav">
        <ul>
          <li class="havsub"> <a class="navtt" href="/" title="">首页</a></li>
          <li class="havsub"><a class="navtt" href="{:U('Article/show',array('type'=>4))}">走进未来门</a></li>
          <!-- <li class="havsub"><a target= "_blank" class="navtt" href="http://www.zhifengbao.com/">成功案例</a></li> -->
          <li class="havsub"><a target= "_blank" class="navtt" href="http://www.sansixianchou.com/">股权投资</a></li>
          <li class="havsub"><a class="navtt" href="{:U('Article/show',array('type'=>5))}">投后服务</a></li>
          <li class="havsub"><a class="navtt" href="{:U('Zhaopin/zhaopin')}">招贤纳士</a></li>
          <li class="havsub"><a class="navtt" href="{:U('Article/show',array('type'=>3))}">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
<div id="blink">闪烁的文字</div>
<script language="javascript">
function changeColor(){
var color="#f00|#0f0|#00f|#880|#808|#088|yellow|green|blue|gray";
color=color.split("|");
document.getElementById("blink").style.color=color[parseInt(Math.random() * color.length)];
}
setInterval("changeColor()",200);
</script>
<div class="main_ad">
  <div>
    <img src="__PUBLIC__/Home/images/07.jpg" height="500" width="100%"/> 
  </div>
  
</div>
<div class="clear"></div>

<div class="w1080 clear1 ny_content chan_about">
  <div class="fr ny_right">
              
    <div class="ny_pd20">

      <div class="about_info">
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-family:'Microsoft YaHei';color:#000000;">&nbsp; &nbsp; &nbsp;</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;text-align:center;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:24px;font-family:'Microsoft YaHei';color:#333333;"><strong>公司招贤纳士</strong></span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <br>
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">招聘一：总经理</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">

          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">【任职要求】</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">1、大专或以上学历，有营销、管理、经济、金融、财经相关专业优先考虑；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">2、银行、P2P、信托、第三方投资理财、保险等2年上相关行业经验，具有丰富管理经验者优先；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">3、具有优秀的团队管理能力； &nbsp;</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">4、具有敏锐的市场洞察力和准确的客户分析能力；&nbsp;</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">5、具备激励并勇于承担、完成目标责任的能力，能在一定的压力下胜任工作；&nbsp;</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">6、强烈的时间观念和服务意识，灵活熟练的谈判技巧；&nbsp;</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">7、强有力地自律和自我驱动力，具有高度的团队合作精神和高度的工作热情。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span> 
        </p>

        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <br>
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">招聘二：SEO/SEM优化专员</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">【岗位职责】</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">1. &nbsp; 负责公司网站SEO优化，推广，包括关键字选用、站内优化、站外优化及内外部链接优化；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">2. &nbsp; 负责搜索引擎到网站的自然流量，规划网站的SEO架构，提升网站在各大搜索引擎的排名，增加权重；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">3. &nbsp; 制定并组织实施公司网站及网络产品的SEO优化方案，负责优化网页结构</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">4. &nbsp; 保证网站SEO技术水平、网站PR值、alexa排名；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">5. &nbsp; 监控网站关键字，监控和研究竞争对手及其他网站相关做法，并围绕优化提出合理的网站调整建议；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">6. &nbsp; 根据不同阶段SEO项目的要求，评估、分析网站的关键词，制定可行性操作计划，并负责执行；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">7. &nbsp; 分析评估公司网站关键词及网站关键词部署，优化网站结构及内容页面优化工作；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">8. &nbsp; 负责监控、分析公司网站排名和流量数据，研究竞争对手相关做法，每周、每月向上级主管提交数据分析结果报告及计划。</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">【任职要求】</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">1. &nbsp; 大专及以上学历，懂得SEO原理、部署技巧，一年以上SEO搜索引擎相关工作经验；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">2. &nbsp; 熟悉搜索引擎优化SEO的原理和策略，熟悉网络优化推广的主要模式，有优化网站成功案例；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">3. &nbsp; 熟悉Bing、Google、Alexa、Baidu、360等排名机制、排名技术；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">4. &nbsp; 有较强的数据分析能力，能定期对相关数据进行有效分析，对方案不断进行持续调优；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">5. &nbsp; 工作积极主动，对工作细心有耐心。有较好的团队协作和沟通能力，有强烈的责任心；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">6. &nbsp; 深入了解网站内外链建设，丰富的友链互换、交叉链技巧和经验；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">7. &nbsp; 了解HTML、Javascript、CSS、Photoshop等，熟悉网络营销常用方法；</span><br>
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">8. &nbsp; 对自身技术提升有强烈的学习欲望，能持续关注搜索引擎的发展变化，了解其最新动向。</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <br>
        </p>
        <!-- <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">招聘三：韩语翻译专员</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">【岗位职责】</span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">1、负责日常语言业务的翻译；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">2、接受主管的分配的翻译任务；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">3、保证翻译质量；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">4、翻译资料的整理收集、知识管理；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">5、翻译并与翻译团队成员沟通协作；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">6、参加部门内开展的专业培训与交流，提高翻译的专业水平。</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">【任职资格】</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">1、语言类相关专业；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">2、听说能力良好，笔译功底深厚，精通中外互译，中文文笔优秀；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">3、工作认真细致、思维敏捷，责任心强；</span><br>
        <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">4、有编辑、笔译相关工作经验优先考虑。</span><br>
        <span style="font-family:SimHei;"></span>
        </p> -->
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:SimSun;color:#000000;"><br>
          </span>
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:Microsoft YaHei;color:#000000;">招聘三：web前端开发工程师</span><span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;"></span> 
        </p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:SimSun;color:#000000;"> 
          </span>
        </p>
        <p style="font-size:14px;margin-bottom:1em;font-family:'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica;white-space:normal;margin-top:1em;color:#777777;outline-width:0px;outline-style:none;outline-color:invert;line-height:22px;background-color:#fafafa;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">
            <strong>岗位职责：</strong>
          </span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">1、根据产品需求，负责产品界面的开发、分析并给出最优的页面前端结构解决方案；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">2、负责产品的页面制作及维护；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">3、采用html5相关特性元素，编写html代码，javascript脚本，编写可复用的用户界面组件；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">4、负责前端界面开发。</span> 
        </p>
        <p style="font-size:14px;margin-bottom:1em;font-family:'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica;white-space:normal;margin-top:1em;color:#777777;outline-width:0px;outline-style:none;outline-color:invert;line-height:22px;background-color:#fafafa;">
            <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">
              <strong>任职要求：</strong>
            </span> 
        </p>
        <p style="font-size:14px;margin-bottom:1em;font-family:'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica;white-space:normal;margin-top:1em;color:#777777;outline-width:0px;outline-style:none;outline-color:invert;line-height:22px;background-color:#fafafa;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;">1、有金融类网站工作经验优先，2-3年工作经验优先，有作品优先</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">2、精通html、css.、javascript，精通MyBatis，springMVC，Ajax 优先；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">3、熟悉主流js库，有框架开发经验者优先考虑；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">4、熟悉单页面Web性能优化，有移动Web、响应式页面开发经验者优先；</span><br style="outline-width:0px;outline-style:none;outline-color:invert;">
          <span style="font-size:16px;font-family:'Microsoft YaHei';color:#000000;outline-width:0px;outline-style:none;outline-color:invert;">5、有JavaScript/Jquery和前台开发经验者，优先考虑。
          </span> 
        </p>
        <br>
        <p><br></p>
        <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:16px;font-family:SimHei;"><br>
          </span>
        </p>
        <!-- <p style="font-size:14px;margin-bottom:0px;font-family:微软雅黑;white-space:normal;margin-top:0px;color:#666666;padding-bottom:0px;padding-top:0px;padding-left:0px;line-height:26px;padding-right:0px;background-color:#f7f7f7;">
          <span style="font-size:18px;font-family:Microsoft YaHei;color:#000000;"><strong>联系电话：0335-8397222</strong></span> 
        </p>
        <p style="margin-bottom:0px;white-space:normal;margin-top:0px;padding-bottom:0px;padding-top:0px;padding-left:0px;padding-right:0px;">
          <span style="font-size:18px;font-family:Microsoft YaHei;color:#000000;"><span style="font-size:18px;font-family:Microsoft YaHei;color:#000000;line-height:24px;background-color:#ffffff;"><strong>联系人：崔经理</strong></span></span> 
        </p></div> -->
                      

      </div>

    </div>

  </div>
  <div class="clear"></div>
</div>






<div class="footer clear1">
    <div class="j-row w1080">
      <div class="copyright">
        <div class="footnav"><a href="{:U('Article/show',array('type'=>4))}">关于我们</a> |　<a href="{:U('Zhaopin/zhaopin')}">加入我们</a>　｜　<a href="">法律声明</a>　｜　<a href="{:U('Article/show',array('type'=>3))}">联系我们</a>
        </div>
        <p>地址:北京市朝阳区望京SOHO</p>
        <p>版权所有 2016-2018  未来门（北京）投资管理有限公司   京ICP备15043006号</p>
      </div>
    </div>
</div>


<script src="js/jquery.js" language="javascript"></script>
<script src="js/common.js" language="javascript"></script>
<!-- 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35089061-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> -->

<script src="js/slides.js" language="javascript"></script>
<script src="js/jc.js" language="javascript"></script>
<!-- <script>
$('.news_con').find('li:last').css({'border':'none'});
/*$('#slides').slides({
  effect: 'fade, fade',
  fadeSpeed: 600
  
});*/

$(".index_conmany").jCarouselLite({
  speed:500,
  auto:3000,
  start: 0,
  visible:1,
  circular: true,
  mouseWheel :true
});


</script> -->


 </body></html>