<!DOCTYPE html>
<html lang="en">
  <head>
   	<include file="Application/Admin/View/Public/link.html" />
  </head>

<body>

<include file="Application/Admin/View/Public/header.html" />	

<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<include file="Application/Admin/View/Public/menu.html" />
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-home"></i>
					首页				
				</h1>
				
				
				
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
					
	
<div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2012 Go Ideate.</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/Admin/js/excanvas.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.pie.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.orderBars.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.resize.js"></script>


<script src="__PUBLIC__/Admin/js/bootstrap.js"></script>
<script src="__PUBLIC__/Admin/js/charts/bar.js"></script>

  </body>
</html>
