<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Nav/index')}"><i class="icon-font">&#xe008;</i>导航管理</a></li>
                        <li><a href="{:U('Category/index')}"><i class="icon-font">&#xe008;</i>栏目管理</a></li>
                        <li><a href="{:U('Member/index')}"><i class="icon-font">&#xe005;</i>会员管理</a></li>
                        <li><a href="{:U('Company/index')}"><i class="icon-font">&#xe006;</i>机构管理</a></li>
                        <li><a href="{:U('Invest/index')}"><i class="icon-font">&#xe004;</i>投资数据</a></li>
                        <li><a href="{:U('Anli/index')}"><i class="icon-font">&#xe012;</i>案例管理</a></li>
                        <!-- <li><a href="{:U('Comment/index')}"><i class="icon-font">&#xe012;</i>评论管理</a></li> -->
                        <li><a href="{:U('Point/index')}"><i class="icon-font">&#xe012;</i>观点管理</a>
                        <li><a href="{:U('News/index')}"><i class="icon-font">&#xe052;</i>资讯管理</a></li>
                        <li><a href="{:U('Active/index')}"><i class="icon-font">&#xe006;</i>活动管理</a></li>
                        <li><a href="{:U('Article/index')}"><i class="icon-font">&#xe005;</i>文章管理</a></li>
                        <li><a href="{:U('Province/index')}"><i class="icon-font">&#xe004;</i>地图设置</a></li>                        
                        <li><a href="{:U('Public/adv')}"><i class="icon-font">&#xe005;</i>广告管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('System/index')}"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                        <li><a href="{:U('System/bg')}"><i class="icon-font">&#xe005;</i>首页背景图</a></li>
                        <li><a href="{:U('System/log')}"><i class="icon-font">&#xe046;</i>登陆日志</a></li>
                        <li><a href="{:U('System/closeip')}"><i class="icon-font">&#xe045;</i>封ip</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>