<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{:C('WEB_NAME')}-{$page_name}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/company.js"></script>
<script type="text/javascript">
var url = "{:U('Company/info')}";
</script>
</head>
<body>
<!-- Head -->
<include file="Public:head" />
<!-- Head -->
<div class="container clearfix">
    <!-- sidebar -->
    <include file="Public:sidebar" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="{:C('ADMIN_URL')}">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">{$page_name}</span></div>
        </div>
        
        <div class="result-wrap">
            <div class="result-title">
            	<form name="search" action="{:U('Active/search')}" method="post">
                <div class="result-list">  
                	<a href="{:U('Active/add')}"><i class="icon-font"></i>添加活动</a>                 
                    <a id="updateOrd" href="{:U('Active/index')}"><i class="icon-font"></i>刷新页面</a>
                    	机构名称：<input class="myinput" type="text" name="pubname" value="{$rember['pubname']}">
                    	活动标题：<input class="myinput" type="text" name="title" value="{$rember['title']}">
			   </select>
                    	<input class="mybutton" type="submit" value="查找">
                </div>
                </form>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <!-- <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th> -->
                        <th>发布者</th>
                        <th>活动标题</th>
                        <th>活动时间</th>
                        <th>活动地点</th>
                        <th>活动人数</th>
                        <th>费用</th>                        
                        <th>前台显示</th>
                        <th>是否推荐</th>
                        <th>实际点击量</th>
                        <th>虚拟点击量</th>
                        <th>操作</th>
                    </tr>
                    <foreach name="list" item="vo">
                    <tr>
                        <!-- <td class="tc"><input name="id[]" value="{$vo.id}" type="checkbox"></td> -->
                        <td>{$vo.pubname}</td>
                        <td><a href="javascript:void(0);">{$vo.title}</a></td>
                        <td>{$vo.atime}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.pnum}</td>
                        <td>{$vo.money}</td>                        
                        <td>{$vo.isshow|is_show=###}</td>
                        <td>{$vo.rec|is_rec=###}</td>
                        <td>{$vo.num_true}</td>
                        <td>{$vo.num_edit}</td>
                        <td>	
                        	<a class="link-update" href="{:U('Active/edit',array('id'=>$vo[id]))}">修改</a>                               
                           	<a class="link-update" href="{:U('Active/lock',array('id'=>$vo[id],'isshow'=>$vo[isshow]))}">{$vo.isshow|nav_action=###}</a>
                           	<a class="link-update del" href="{:U('Active/del',array('id'=>$vo[id]))}">删除</a>
                        </td>
                    </tr>
                    </foreach>
                    <tr>
                    	<td colspan="11" align="right">{$page}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>