<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- 案例列表页-->

<head data-template-set="html5-reset">

	<title>案例列表页 | {$system.webname}</title>

	<include file="./Application/Wlmeng/View/Public/meta.html" />

	<link rel="stylesheet" href="__CSS__/style.css" />

	<link rel="stylesheet" href="__CSS__/jquery.Jcrop.min.css" type="text/css" />

	<!-- Uploadify -->
    <link rel='stylesheet' type='text/css' href='__CSS__/uploadify.css'>



	<script src="__JS__/modernizr-2.6.2.dev.js"></script>

	<script type="text/javascript" src="__JS__/m.js"></script>
	</head>

<body >
<script>window.jQuery || document.write("<script src='__JS__/jquery-1.9.1.min.js'>\x3C/script>")</script>
<include file="./Application/Wlmeng/View/Public/menu.html" />
<div class="wrapper">

<include file="./Application/Wlmeng/View/Public/header.html" />
  <div class="page-wrapper" style="padding-top:170px;">
    <section id="page-content">
      
      <article class="two-col-big-left">
        <div class="normal-box-no-pad">

              <ul id="company-new-list" class="media-list search-list" style="padding-left: 50px">
              	<volist name="anli" id="vo">
              		<li class="company-new-list media clearfix">
                  <a class="pull-left" href="{:U('Wlmeng/Anli/getOneAnli',array('id'=>$vo['id']))}">
                                            <img width="240" height="180" class="media-object" src="{$vo.pic}" alt="" title="{$vo.title}" />  
                  </a>
                  <div class="media-body">
                    <p class="company-new-list-tit"><a class="media-tit" target="_blank" href="{:U('Wlmeng/Anli/getOneAnli',array('id'=>$vo['id']))}" style="color:#314715">{$vo.title}</a> </p>
                    <p>浏览量 : {$vo.num}</p>
                    <p>简介：{$vo.intro}</p>
                  </div>    
                </li>
              	</volist>
                  
                    
                             </ul>
                <div class="pagination pagination-right">
          	<ul>
          		<volist name="page_show" id="vo">
          			<if condition="$page_this == $vo['page']">
          				<li class="active">
          					<a href="{:U('Anli/goAnli',array('page'=>$vo['page']))}">
          						{$vo.page}
          					</a>
          				</li>
          			<else/>
          				<li  class="page">
          					<a href="{:U('Anli/goAnli',array('page'=>$vo['page']))}" class="follow_link">
          						{$vo.page}
          					</a>
          				</li>
          			</if>
          		</volist>
          		<li class="next page"><a class="follow_link" href="{:U('Anli/goAnli',array('page'=>$page_next))}">下一页 &rarr;</a></li>
          		<li class="next page"><a class="follow_link" href="{:U('Anli/goAnli',array('page'=>$page_last))}">尾页 &raquo;</a></li>
          	</ul>
          </div>

        </div>  
      
      </article>
    </section>  
    


   <include file="./Application/Wlmeng/View/Public/footer.html" />

  </div>  

</div>

<script src="__JS__/jquery.uploadify.min.js"></script>
<script src="__JS__/jquery.Jcrop.min.js"></script>
<script src="__JS__/jquery-scrollto.js"></script>
<script src="__JS__/jquery.cookie.js"></script>
<script src="__JS__/functions.js"></script>


<!-- for affix -->
<script>
  
  function show_new_affix(){
    $('#old-affix').hide();
    $('#new-affix').show();
  }

  function hide_new_affix(){
    $('#old-affix').show();
    $('#new-affix').hide();
  }

  function check_show_new () {
    var s = $(window).scrollTop();
     if (s>1) {
      show_new_affix();
     } else {
      hide_new_affix();
     }
  }
  
  $(window).scroll(function(){
    check_show_new();
  });

  $(window).resize(function(){
    check_show_new();
  });

  check_show_new();

  $('body').on('mouseover','#dropdownMenu',function(){
    $('.dropdown-menu').show();
  });
  $('body').on('mouseout','#dropdownMenu',function(){
   $('.dropdown-menu').hide();
  });
</script>
<script src="__JS__/jquery-ui-1.9.2.datapicker.min.js"></script>
<script src="__JS__/jquery-ui-1.9.2.datepicker-zh-CN.js"></script>
</div>
</body>
</html>
            

